.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.loader {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #0072ff;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
